body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    width: 100%;
    background-color: #283618;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    background-image: url(/images/wood_floor.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    font-size: 65px;
    margin: 0em;
}

.header__item{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header__item li{
    width: 100%;
    margin: 0em 0em 1em;
    padding: 1em;
    list-style: none;
}

.header__item li:hover{
    background-color: #606c38;
    border-radius: 10px;
}

.header__item a{
    text-decoration: none;
    color: #FEFAE0;
}

main{
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FEFAE0;
}

section{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside{
    width: 15%;
    height: 100%;
    background-color: #606c38;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left__aside ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0em;
    width: 50%;
}

.links{ 
    text-decoration: none;
    color: #000;
}

.links:hover{
    text-decoration: underline;
}

.aside__login{
width: 90%;
height: 30vh;
display: flex;
flex-direction: column;
align-items: center;
margin: 1em 0em;
background-color: #FEFAE0;
}

.aside__login form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.aside__login input{
    width: 70%;
}

.aside__login button{
    width: 40%;
}

.product__card{
    background-color: #dda15e;
    width: 40%;
    height: 80vh;
    margin: 1em;
    margin: 2em auto;
    border: 1px solid #283618;
    border-radius: 10px;
    -webkit-box-shadow: 0px 18px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 18px 19px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product__card img{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
    transition: 2s;
}

.product__card img:hover{
    filter: saturate(2);
}

.product__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

.product__price{
    font-size: 20px;
}

.product__description{
    font-size: large;
    margin: 0em 1em 0em 1em;
}

.product__info button{
    padding: 20px;
    border-radius: 10px;
    font-size: large;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: #283618;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: start;
}

footer h2{
    margin: 1em 1em 0em;
    font-size: 50px;
    color: #FEFAE0;
}

.footer__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10em;
    width: 100%;
    height: auto;
    padding: 0em;
}

.footer__list ul{
    margin: 0em;
    height: auto;
    width: 10%;
}

.footer__list h3{
    color: #FEFAE0;
}

.footer__list li{
    color: #FEFAE0;
    padding: 0em;
}

.alt{
    color: #FEFAE0;
}

.footer__links{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.footer__links a{
    font-size: 30px;
    color: #FEFAE0;
    text-decoration: none;
}

.footer__links--items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
}

.footer__links p{
    margin: 0em;
    color: #FEFAE0;
}


@media only screen and (max-width: 768px){
    header h1{
        font-size: 50px;
    }

    .header__item a{
        font-size: 12px;
    }

    .header__item li{
        padding: 10px;
    }

    main{
        flex-direction: column;
        height: auto;
    }

    section{
        order: -1;
        width: 100%;
        flex-direction: column;
    }

    aside{
        width: 100%;
        justify-content: center;
    }

    .product__card{
        width: 80%;
    }

    .product__card img{
        height: 50%;
    }
    
    .left__aside ul{
        align-items: center;
    }

    footer{
        height: 100vh;
        justify-content: center;
    }

    footer h2{
        margin: 2em 0em 0em;
        order: -2;
    }

    .footer__list{
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .footer__list ul{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}