body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #283618;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    background-image: url(/images/wood_floor.jpg);
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 10px;
    font-size: 65px;
    margin: 0em;
}

.header__item{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header__item li{
    width: 100%;
    margin: 0em 0em 1em;
    padding: 1em;
    list-style: none;
}

.header__item li:hover{
    background-color: #606c38;
    border-radius: 10px;
}

.header__item a{
    text-decoration: none;
    color: #fefae0;
}

main{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FEFAE0;
}

section{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

aside{
    width: 15%;
    height: 100%;
    background-color: #606c38;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left__aside ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0em;
}

.left__aside a{ 
    text-decoration: none;
    color: #000;
}

.left__aside a:hover{
    text-decoration: underline;
}

.aside__login{
width: 90%;
height: 30vh;
display: flex;
flex-direction: column;
align-items: center;
margin: 1em 0em;
background-color: #fefae0;
}

.aside__login form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.aside__login input{
    width: 70%;
}

.aside__login button{
    width: 40%;
}

.product__card{
    background-color: #dda15e;
    width: 40%;
    height: 70%;
    margin: 1em;
    margin: 2em auto;
    border: 1px solid #283618;
    border-radius: 10px;
    -webkit-box-shadow: 0px 18px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 18px 19px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product__card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    transition: 2s;
}

.product__card img:hover{
    filter: saturate(2);
}

.product__info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
}

.product__price{
    font-size: 20px;
}

.product__description{
    font-size: large;
    margin: 0em 1em 0em 1em;
}

.product__info button{
    padding: 20px;
    border-radius: 10px;
    font-size: large;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: #283618;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

}