body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 30px;
    background-color: #626F47;
}

.header__item{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header__item li{
    margin: auto;
    list-style: none;
}

.header__item li:hover{
    background-color: red;
}

.header__item h3{
    margin: auto;
}

main{
    width: 100%;
}

section{
    width: 100%;
    height: 100vh;
    background-color: #FEFAE0;
}

aside{
    width: 100%;
    height: 20vh;
    background-color: #798645;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

}